
h1{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    height: auto;
    width: 1200px;
    font-size: 70px;
}

li {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    
}